## 공공 데이터를 이용하여 컬럼 삭제하기

In [2]:
### 구글 서버와 내 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
### 현재 작업 경로 이동
%cd '/content/drive/MyDrive/KDT/정형데이터분석시각화'

/content/drive/MyDrive/KDT/정형데이터분석시각화

In [4]:
### 파일 이름 설정
file_name = 'ns_202104.csv'

In [5]:
### 필요한 라이브러리 임폴트
import pandas as pd

In [6]:
### read_csv() --> DataFrame 자료형 변환
ns_df = pd.read_csv(file_name, encoding='cp949')

# 결과 확인하기
ns_df

<ipython-input-6-e4268df868e5>:2: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ns_df = pd.read_csv(file_name, encoding='cp949')

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01,NaN
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01,NaN
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01,NaN
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01,NaN
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01,NaN

In [7]:
### loc 인덱서와 슬라이싱 사용

'''
# '번호' 컬럼부터 '등록일자' 컬럼까지 추출 --> 새로운 DataFrame 생성
'''

ns_book = ns_df.loc[:, '번호':'등록일자']

# 결과 확인하기
ns_book

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

In [8]:
### loc 인덱서와 boolean 인덱싱 이용 --> Unnamed: 13 컬럼 삭제

# 전체 데이터의 컬럼 확인
columns = ns_df.columns
print(f'전체 컬럼 정보 : \n{columns}')

print('-'*80)

# 비교 연산자 != 사용 --> boolean 배열 생성
condition = (ns_df.columns != 'Unnamed: 13')
print(f'condition의 자료형 : {type(condition)}')
print('-'*80)
print(f'결과값 : \n{condition}')

print('-'*80)

# loc 인덱서 --> ns_df.loc[:, [col, col2, col3,...(fancy인덱싱)]대신에 boolean 배열 넣어주기]
ns_book = ns_df.loc[:, condition]

# 결과 확인하기
ns_book

전체 컬럼 정보 :
Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '부가기호', '권',
       '주제분류번호', '도서권수', '대출건수', '등록일자', 'Unnamed: 13'],
      dtype='object')
--------------------------------------------------------------------------------
condition의 자료형 : <class 'numpy.ndarray'>
--------------------------------------------------------------------------------
결과값 :
[ True  True  True  True  True  True  True  True  True  True  True  True
  True False]
--------------------------------------------------------------------------------

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

In [9]:
### quiz : '부가기호' 컬럼 삭제 --> loc 인덱서와 boolean 인덱싱 이용, 변수 : my_book
condition = (ns_df.columns != '부가기호')
print(condition)

my_book = ns_df.loc[:, condition]

# 결과 확인하기
my_book

[ True  True  True  True  True  True  True False  True  True  True  True
  True  True]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,1,0,2021-03-19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,3,811.608,1,0,1970-01-01,NaN
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,2,688.04,1,0,1970-01-01,NaN
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,2,813.6,1,0,1970-01-01,NaN
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,3,809.05,2,0,1970-01-01,NaN
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,1,814.6,0,0,1970-01-01,NaN

In [10]:
### drop() 이용 --> 'Unnamed: 13' 컬럼 삭제하기
ns_book = ns_df.drop(columns=['Unnamed: 13'])

# 결과 확인하기
ns_book

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

In [11]:
### dropna() --> 누락 데이터가 있는 컬럼 제거
ns_book = ns_df.dropna(axis=1)

# 결과 확인하기
ns_book

            번호           ISBN  도서권수  대출건수        등록일자
0            1  9788937444319     1     0  2021-03-19
1            2  9791190123969     1     0  2021-03-19
2            3  9788968332982     1     0  2021-03-19
3            4  9788970759906     1     0  2021-03-19
4            5  9788934990833     1     0  2021-03-19
...        ...            ...   ...   ...         ...
401677  401678  9788977352971     1     0  1970-01-01
401678  401679  9788985367448     1     0  1970-01-01
401679  401680  9788937401596     1     0  1970-01-01
401680  401681  9788947700368     2     0  1970-01-01
401681  401682  9788970610092     0     0  1970-01-01

[401682 rows x 5 columns]

### 3/30 실습

## 공공 데이터를 이용하여 행 삭제하기

In [12]:
### 기본 데이터 생성하기
ns_book = ns_df.drop(columns=['Unnamed: 13'])

# 결과 확인하기
ns_book

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

In [13]:
### drop(index=[row1, row2, ...]) 함수를 이용하여 특정 행 삭제하기
ns_book2 = ns_book.drop(index=[0, 1])

# 결과 확인하기
ns_book2

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
5,6,처음 읽는 음식의 세계사,"미야자키 마사카츠 지음, 한세희 옮김",탐나는책,2021,9791189550370,NaN,NaN,NaN,NaN,1,0,2021-03-19
6,7,아르센 벵거 자서전 My Life in Red and White,"아르센 벵거 지음, 이성모 옮김",한즈미디어(한스미디어),2021,9791160075793,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

In [14]:
### 슬라이싱을 이용하여 특정 행 삭제하기
ns_book2 = ns_book.iloc[2:, :]

# 결과 확인하기
ns_book2

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
5,6,처음 읽는 음식의 세계사,"미야자키 마사카츠 지음, 한세희 옮김",탐나는책,2021,9791189550370,NaN,NaN,NaN,NaN,1,0,2021-03-19
6,7,아르센 벵거 자서전 My Life in Red and White,"아르센 벵거 지음, 이성모 옮김",한즈미디어(한스미디어),2021,9791160075793,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

In [15]:
### loc 인덱서와 boolean 인덱싱 이용 --> 특정 행 추출하기

# 조건 연산자 '=='를 이용 --> boolean 배열 --> 출판사가 '한빛미디어'인 행 추출
selected_rows = (ns_book['출판사'] == '한빛미디어')
print(f'boolean 배열 확인 : \n{selected_rows}')

print('-'*80)

# loc 인덱서와 boolean 배열 이요 --> boolean 인덱싱 실행
ns_book2 = ns_book.loc[selected_rows, :]

# 결과 확인하기
ns_book2

boolean 배열 확인 :
0         False
1         False
2         False
3         False
4         False
          ...
401677    False
401678    False
401679    False
401680    False
401681    False
Name: 출판사, Length: 401682, dtype: bool
--------------------------------------------------------------------------------

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
60,61,(맛있는 디자인)프리미어 프로 CC: 쉽게 배워 제대로 써먹는 유튜브 영상 편집,"정지원,심수진,윤성우,김덕영 지음",한빛미디어,2021,9791162244029,NaN,1,2021,005.567,1,1,2021-03-15
70,71,처음 배우는 애저 (Azure Portal로 배우는 애저 도입부터 활용까지),김도균,한빛미디어,2020,9791162243695,NaN,NaN,NaN,005.74,1,1,2021-03-15
88,89,맛있는 디자인 프리미어 프로 CC 2021 - 쉽게 배워 제대로 써먹는 유튜브 영상 편집,"정지원, 심수진, 윤성우, 김덕영 (지은이)",한빛미디어,2021,9791162244029,NaN,NaN,NaN,NaN,0,0,2021-03-15
156,157,"실전 보고서 작성 기술 with 파워포인트, 워드, 한글",홍장표 지음,한빛미디어,2020,9791162243763,NaN,NaN,NaN,NaN,1,0,2021-03-12
198,199,처음 배우는 리액트 네이티브,김범준 지음,한빛미디어,2021,9791162243879,NaN,NaN,NaN,NaN,1,0,2021-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383334,383335,보이지 않는 핵 전환하는 Nuclear,이마이 류키치 지음,한빛미디어,1995,9788979140026,NaN,0,NaN,349.9,1,0,1970-01-01
384891,384892,리눅스 커널의 이해,다니엘 보베이,한빛미디어,2001,9788979141597,NaN,1,NaN,566.843,1,0,1970-01-01
385028,385029,C로 구현한 알고리즘,카일 루든 지음,한빛미디어,2001,9788979140637,NaN,1,NaN,566.813,1,0,1970-01-01
385521,385522,WML과 WML 스크립트 시작하기,마틴 프로스트 지음,한빛미디어,2001,9788979141160,NaN,1,NaN,566.8133,1,0,1970-01-01
391053,391054,인터넷 방화벽 구축하기,D. Brent Chapman,한빛미디어,1998,9788979140224,NaN,1,NaN,569.981,1,0,1970-01-01

In [16]:
### loc 인덱서와 boolean 배열 이용 --> 특정 행 추출하기

# 비교 연산자를 이용 : '대출건수' > 1000 조건을 만족하는 boolean 배열 생성
selected_rows = ns_book['대출건수'] > 1000
print(f'boolean 배열 확인 : \n{selected_rows}')

# loc 인덱서와 boolean 배열을 이용 --> 대출건수 1000건 초과한 데이터 추출
ns_book2 = ns_book.loc[selected_rows,:]

# 결과 확인하기
ns_book2

boolean 배열 확인 :
0         False
1         False
2         False
3         False
4         False
          ...
401677    False
401678    False
401679    False
401680    False
401681    False
Name: 대출건수, Length: 401682, dtype: bool

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
94781,94782,"사피엔스 :유인원에서 사이보그까지, 인간 역사의 대담하고 위대한 질문",유발 하라리 지음 ;조현욱 옮김,김영사,2016,9788934972464,NaN,NaN,NaN,909.0,30,1468,2016-04-22
346944,346945,해커스 토익:Listening,David Cho 지음,해커스어학연구소,2005,9788990700148,NaN,1,NaN,740.77,29,1065,2005-02-01

## 공공 데이터를 이용하여 중복된 행 찾기

In [17]:
### duplicated() 이용 --> 중복된 행 찾기

# duplicated() 함수 적용 --> boolean 배열 생성
duplicated_rows = ns_book.duplicated()
print(duplicated_rows)

print('-'*80)

# 중복된 행의 갯수 계산하기
print(f'중복된 행의 수 = {duplicated_rows.sum()}')

0         False
1         False
2         False
3         False
4         False
          ...
401677    False
401678    False
401679    False
401680    False
401681    False
Length: 401682, dtype: bool
--------------------------------------------------------------------------------
중복된 행의 수 = 0

In [18]:
### '도서명', '저자', 'ISBN' 컬럼 기준으로 중복된 행 찾기(1)

# duplicated(subset=[]) 함수 적용 --> boolean 배열 생성
duplicated_rows = ns_book.duplicated(subset=['도서명', '저자', 'ISBN'])

# 중복된 행의 수 계산기
print(f'중복된 행의 수 = {duplicated_rows.sum()}')

중복된 행의 수 = 20191

In [19]:
### '도서명', '저자', 'ISBN' 컬럼 기준으로 중복된 행 찾기(2)

# duplicated(subset=[], keep=False) 함수 적용 --> boolean 배열 생성
dup_rows = ns_book.duplicated(subset=['도서명', '저자', 'ISBN'], keep=False)

# 중복된 행의 수 계산기
print(f'중복된 행의 수 = {dup_rows.sum()}')

중복된 행의 수 = 35770

In [20]:
### loc 인덱서와 boolean 배열 이용 --> 중복된 행 추출

# boolean 배열 확인
print(dup_rows)

print('-'*80)

# ns_book.loc[dup_rows, :]
ns_book3 = ns_book.loc[dup_rows, :]

# 결과 확인하기
ns_book3

0         False
1         False
2         False
3         False
4         False
          ...
401677    False
401678    False
401679    False
401680    False
401681    False
Length: 401682, dtype: bool
--------------------------------------------------------------------------------

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
109,110,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129815,9788970129808,0,1,843.6,1,0,2021-03-12
110,111,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129822,9788970129808,0,2,843.6,1,0,2021-03-12
111,112,보건교사 안은영 :정세랑 장편소설,지은이: 정세랑,민음사,2021,9788937479953,NaN,0,NaN,813.7,1,0,2021-03-12
112,113,보건교사 안은영 :정세랑 장편소설,지은이: 정세랑,민음사,2021,9788937479953,NaN,0,NaN,813.7,1,1,2021-03-12
113,114,스토너,존 윌리엄스 지음 ;김승욱 옮김,RHK(알에이치코리아),2021,9788925538297,NaN,0,NaN,843.5,1,0,2021-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401656,401657,韓國人의 意識構造,李圭泰 著,과천문화원,1977,9788986556193,NaN,NaN,1,041,1,0,1970-01-01
401657,401658,(대하무협소설)대도무문,사마달,시공사,1995,9788972591863,NaN,NaN,8,813.6,1,0,1970-01-01
401663,401664,韓國義賊小說史,張良守 著,미진사,1991,9788940800508,NaN,NaN,NaN,813.09,1,0,1970-01-01
401669,401670,바다의 역사,한국과학기술진흥재단 편,우석,1984,9788936102609,NaN,NaN,NaN,454,1,0,1970-01-01
401675,401676,시귀,오노 후유미 지음;임희선 옮김,들녘,1999,9788975271366,9788975271335.0,(,3,833.6,0,0,1970-01-01

In [21]:
### 중복된 행 제거

# drop_duplicates(subset, keep, inplace, ignore_index) 사용
del_duplicates_book = ns_book.drop_duplicates(subset=['도서명', '저자', 'ISBN'], ignore_index=True)

# 결과 확인하기
del_duplicates_book

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381486,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01
381487,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01
381488,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01
381489,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01
381490,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

## 공공 데이터를 이용하여 중복되는 데이터를 그룹별로 모으기

In [22]:
### 중복 여부를 확인하여 그룹별로 묶을 컬럼과 '대출건수'컬럼 --> fancy 인덱싱 --> 별도의 DataFrame 생성
loan_df = ns_book[['도서명', '저자', 'ISBN', '대출건수']]

# 결과 확인하기
loan_df

                          도서명                저자           ISBN  대출건수
0                     인공지능과 흙            김동훈 지음  9788937444319     0
1                가짜 행복 권하는 사회            김태형 지음  9791190123969     0
2       나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음  9788968332982     0
3                     예루살렘 해변  이도 게펜 지음, 임재희 옮김  9788970759906     0
4       김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음  9788934990833     0
...                       ...               ...            ...   ...
401677                韓國現代詩大系            채만묵 編著  9788977352971     0
401678                  뉴 웨이브        제임스 모나코 지음  9788985367448     0
401679           (최인훈 장편소설)화두            최인훈 지음  9788937401596     0
401680           독일 문학과 세계 문학            吳漢鎭 編著  9788947700368     0
401681             참으로 소중한 생각            김일상 지음  9788970610092     0

[401682 rows x 4 columns]

In [23]:
### groupby() 함수 적용하기

'''
# 매개변수
1. by
2. dropna=True
3. groupby().sum()
'''

# groupby() 함수 적용
grouped_df = loan_df.groupby(by=['도서명', '저자', 'ISBN'])
print(f'통계 함수를 적용하지 않은 경우의 결과 : \n{grouped_df}')

print('-'*80)

# sum() 사용 --> '대출건수' 컬럼에 적용
loan_count = grouped_df.sum()

# 결과 확인하기
print(f'통계 함수를 적용한 경우의 결과 :')
loan_count

통계 함수를 적용하지 않은 경우의 결과 :
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fdfe4705520>
--------------------------------------------------------------------------------
통계 함수를 적용한 경우의 결과 :

                                                                                                            대출건수
도서명                                             저자                                           ISBN
 (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기           김상현 지음                                       9788955025637    38
 (맨처음 배우는) 세상의 직업                               엘레오노라 바르소티 글 ·그림 ;김태은 옮김                     9788992924146    10
 (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편  JD Kim 지음                                    9788993466089     4
 (즉석에서 바로바로 활용하는) 일상생활 베트남어 첫걸음                 FL4U컨텐츠 지음                                   9788971728000     3
 ,에게                                            이기린(이진희)                                     9791196137014     0
...                                                                                                          ...
茶의 과학                                           정동효                                          9788938425188     1
＋α를 위한 도전                                       한국능률협회 [편]                                   9788989503088     4
７·１３水害                                          新潟日報事業社 [編]                                  9784861320699     1
＠좌절＋열공 :우리 시대 멘토 9인이 전하는 좌절 극복과 진짜 공부 이야기       강신주, 강풀, 김진숙, 김진혁, 도종환, 엄기호, 정혜신, 정희진, 조국 지음 9788974834791    50
ｉ                                               西加奈子 著                                       9784591153093     0

[380909 rows x 1 columns]

In [24]:
### groupby() 함수 적용 + 값 크기 순으로 정렬

# sort_values(by, ascending)

# 오름차순 정렬 --> 기본 값
print(loan_count.sort_values(by='대출건수', ascending=True))

print('-'*80)

# 내림차순 정렬 --> ascending=False
print(loan_count.sort_values(by='대출건수', ascending=False))

                                                                         대출건수
도서명                                     저자                ISBN
ｉ                                       西加奈子 著            9784591153093     0
그의 노래 :최일화 시집                           지은이: 최일화          9791186547465     0
그의 가슴속에는 늘 고향의 들꽃이 피어난다                 안성호 지음            9788973910373     0
그의 20대                                  조성은 지음            9788985022125     0
그을린 입술                                  지은이: 정수자          9788968790362     0
...                                                                       ...
7년의 밤 :정유정 장편소설                         정유정 저             9788956604992   683
엄마를 부탁해 :신경숙 장편소설                       신경숙 지음            9788936433673   780
(대하예술소설)혼불                              최명희 지음            9788935601301   886
해커스 토익:Listening                        David Cho 지음      9788990700148  1065
사피엔스 :유인원에서 사이보그까지, 인간 역사의 대담하고 위대한 질문  유발 하라리 지음 ;조현욱 옮김 9788934972464  1765

[380909 rows x 1 columns]
--------------------------------------------------------------------------------
                                                                          대출건수
도서명                                     저자                 ISBN
사피엔스 :유인원에서 사이보그까지, 인간 역사의 대담하고 위대한 질문  유발 하라리 지음 ;조현욱 옮김  9788934972464  1765
해커스 토익:Listening                        David Cho 지음       9788990700148  1065
(대하예술소설)혼불                              최명희 지음             9788935601301   886
엄마를 부탁해 :신경숙 장편소설                       신경숙 지음             9788936433673   780
7년의 밤 :정유정 장편소설                         정유정 저              9788956604992   683
...                                                                        ...
세계의 어린이책과 작가들                           호즈미 타모츠 지음, 황진희 옮김 9788970940748     0
지리산 빈 들판                                민수호 지음             9788997805709     0
지리산 백무동                                 최석기 지음, 김종길 사진     9788962573022     0
지리산 반달곰이야기                              유영석;허윤정 [같이]지음     9788952200846     0
ｉ                                       西加奈子 著             9784591153093     0

[380909 rows x 1 columns]

## quiz

In [45]:
### 1. sort_values()

'''
mydict = {'학생':['철수','영희','민수','영자'],
'영어':[90,85,70,75],
'수학':[100,90,90,85]}

df = pd.DataFrame(data=mydict)

문제 1. 영어점수를 기준으로 오름차순 정렬하는 코드 작성

문제 2. 수학점수를 기준으로 한 내림차순 정렬하는 코드 작성
'''

# 풀이
mydict = {'학생':['철수','영희','민수','영자'],
          '영어':[90,85,70,75],
          '수학':[100,90,90,85]}

df = pd.DataFrame(data=mydict)

print(df.sort_values(by='영어'))

print('-'*80)

print(df.sort_values(by=['수학', '영어'], ascending=False))

   학생  영어   수학
2  민수  70   90
3  영자  75   85
1  영희  85   90
0  철수  90  100
--------------------------------------------------------------------------------
   학생  영어   수학
0  철수  90  100
1  영희  85   90
2  민수  70   90
3  영자  75   85

In [70]:
### 2. boolean 인덱싱 --> 조건에 해당하는 값 추출

# file_name 설정
file_name = '시험점수.csv'

# csv file --> DataFrame 자료형 생성
score_df = pd.read_csv(file_name, encoding='cp949')

# 생성된 데이터 확인
print(score_df)
print('-'*80)

'''
문제 1. 전체 학년 중 3학년 학생의 데이터 추출

문제 2. 국어 점수가 70점 이상인 학생의 데이터 추출

문제 3. 성별이 여자인 데이터 추출

문제 4. 3학년 학생이고 국어 점수가 70점 이상이며 성별이 여자인 데이터 추출
'''

### 풀이 1.
three = (score_df['학년'] == 3)
three_df = score_df.loc[three, :]
print(three_df)
print('-'*80)

### 풀이 2.
seventy = (score_df['국어'] >= 70)
seventy_df = score_df.loc[seventy, :]
print(seventy_df)
print('-'*80)

### 풀이 3.
female = (score_df['성별'] == '여자')
female_df = score_df.loc[female, :]
print(female_df)
print('-'*80)

### 풀이 4.
res = three & seventy & female
res_df = score_df.loc[res, :]
res_df

    이름  성별  학년  반  국어  수학  영어  사회  과학
0   영수  남자   1  1  75  60  65  80  60
1   영호  남자   1  1  60  45  75  95  75
2   영식  남자   1  1  70  70  85  80  40
3   영철  남자   1  1  70  45  75  65  85
4   정수  남자   1  1  85  90  45  45  65
..  ..  ..  .. ..  ..  ..  ..  ..  ..
75  하윤  여자   3  2  60  55  60  70  40
76  서윤  여자   3  2  70  65  65  75  90
77  서연  여자   3  2  65  65  95  45  70
78  하은  여자   3  2  60  80  75  85  70
79  지유  여자   3  2  70  50  60  65  75

[80 rows x 9 columns]
--------------------------------------------------------------------------------
    이름  성별  학년  반   국어   수학  영어   사회   과학
40  지훈  남자   3  1   40   90  75   80   95
41  성민  남자   3  1  100   65  75   45  100
42  현우  남자   3  1   40   80  75   70   80
43  정훈  남자   3  1   65   60  75   65   65
44  동현  남자   3  1   75   40  80   85   70
45  지혜  여자   3  1   85   40  75   40   75
46  지은  여자   3  1   85   70  80   80   60
47  수진  여자   3  1   85   40  65   50   60
48  혜진  여자   3  1   50   95  75   45   65
49  은지  여자   3  1   80   90  80   65   60
50  동현  남자   3  2   60   65  60   95   90
51  지훈  남자   3  2   70  100  75   85   70
52  성민  남자   3  2   75   80  85   80   85
53  현우  남자   3  2   65   70  70   45   65
54  준호  남자   3  2   85   70  90   70   75
55  유진  여자   3  2   60   65  60   95   75
56  민지  여자   3  2   70   60  65   50   75
57  수빈  여자   3  2   70   65  85  100   60
58  지원  여자   3  2   85   70  95   65   60
59  지현  여자   3  2   70   40  80   65   55
60  민준  남자   3  1   90   75  80   70   60
61  지훈  남자   3  1   45   65  80   65   60
62  현우  남자   3  1   70  100  75   70   65
63  준서  남자   3  1   80   75  70   40   80
64  우진  남자   3  1   75   65  65   80   60
65  서연  여자   3  1   50   75  75   60   70
66  지민  여자   3  1   50  100  50   65   55
67  민서  여자   3  1   75   65  95   85   70
68  서현  여자   3  1   50   80  80   75   70
69  서윤  여자   3  1   50   70  45   75   65
70  도윤  남자   3  2   45   60  50   75   70
71  하준  남자   3  2   60   70  45   75   80
72  서준  남자   3  2   70   70  75   70   65
73  시우  남자   3  2   80   65  80   70   75
74  민준  남자   3  2   95   85  75   70   70
75  하윤  여자   3  2   60   55  60   70   40
76  서윤  여자   3  2   70   65  65   75   90
77  서연  여자   3  2   65   65  95   45   70
78  하은  여자   3  2   60   80  75   85   70
79  지유  여자   3  2   70   50  60   65   75
--------------------------------------------------------------------------------
    이름  성별  학년  반   국어   수학  영어   사회   과학
0   영수  남자   1  1   75   60  65   80   60
2   영식  남자   1  1   70   70  85   80   40
3   영철  남자   1  1   70   45  75   65   85
4   정수  남자   1  1   85   90  45   45   65
5   순자  여자   1  1   80  100  75   70   65
6   영자  여자   1  1   75   70  70   65   85
8   정숙  여자   1  1   75   75  85   75   70
9   영숙  여자   1  1   70   70  70   75   40
11  영철  남자   1  2   80   85  70   75  100
12  영호  남자   1  2   85   65  65   80   50
13  영식  남자   1  2   80   85  80   60   65
14  성수  남자   1  2   75   70  70   80   50
16  정숙  여자   1  2   75   85  65   45   40
19  경숙  여자   1  2   70   85  65   70   65
20  성호  남자   2  1   75   70  70   90   75
22  영호  남자   2  1   70   65  55   85   65
23  영철  남자   2  1  100   80  75   80   45
26  미숙  여자   2  1   70   40  45   85   70
28  경숙  여자   2  1   85   90  55   70   75
29  영숙  여자   2  1   85   70  60   65   50
30  정훈  남자   2  2  100   80  45   60   80
31  성훈  남자   2  2   70   85  65   65   95
33  성진  남자   2  2   75   65  70   70   70
34  지훈  남자   2  2   75   50  70   70   60
35  지영  여자   2  2   95   75  90   80   60
36  은정  여자   2  2   75   75  85   60   80
38  현정  여자   2  2   70   95  60   80   70
39  은주  여자   2  2   70   65  55   80   70
41  성민  남자   3  1  100   65  75   45  100
44  동현  남자   3  1   75   40  80   85   70
45  지혜  여자   3  1   85   40  75   40   75
46  지은  여자   3  1   85   70  80   80   60
47  수진  여자   3  1   85   40  65   50   60
49  은지  여자   3  1   80   90  80   65   60
51  지훈  남자   3  2   70  100  75   85   70
52  성민  남자   3  2   75   80  85   80   85
54  준호  남자   3  2   85   70  90   70   75
56  민지  여자   3  2   70   60  65   50   75
57  수빈  여자   3  2   70   65  85  100   60
58  지원  여자   3  2   85   70  95   65   60
59  지현  여자   3  2   70   40  80   65   55
60  민준  남자   3  1   90   75  80   70   60
62  현우  남자   3  1   70  100  75   70   65
63  준서  남자   3  1   80   75  70   40   80
64  우진  남자   3  1   75   65  65   80   60
67  민서  여자   3  1   75   65  95   85   70
72  서준  남자   3  2   70   70  75   70   65
73  시우  남자   3  2   80   65  80   70   75
74  민준  남자   3  2   95   85  75   70   70
76  서윤  여자   3  2   70   65  65   75   90
79  지유  여자   3  2   70   50  60   65   75
--------------------------------------------------------------------------------
    이름  성별  학년  반  국어   수학  영어   사회   과학
5   순자  여자   1  1  80  100  75   70   65
6   영자  여자   1  1  75   70  70   65   85
7   정순  여자   1  1  60   95  80   95   85
8   정숙  여자   1  1  75   75  85   75   70
9   영숙  여자   1  1  70   70  70   75   40
15  영숙  여자   1  2  60   60  55   85   70
16  정숙  여자   1  2  75   85  65   45   40
17  영희  여자   1  2  60   75  75   55  100
18  명숙  여자   1  2  65   55  95   70   65
19  경숙  여자   1  2  70   85  65   70   65
25  미경  여자   2  1  60   65  50   75   80
26  미숙  여자   2  1  70   40  45   85   70
27  경희  여자   2  1  60   75  70   50   65
28  경숙  여자   2  1  85   90  55   70   75
29  영숙  여자   2  1  85   70  60   65   50
35  지영  여자   2  2  95   75  90   80   60
36  은정  여자   2  2  75   75  85   60   80
37  미영  여자   2  2  40   80  65   65   75
38  현정  여자   2  2  70   95  60   80   70
39  은주  여자   2  2  70   65  55   80   70
45  지혜  여자   3  1  85   40  75   40   75
46  지은  여자   3  1  85   70  80   80   60
47  수진  여자   3  1  85   40  65   50   60
48  혜진  여자   3  1  50   95  75   45   65
49  은지  여자   3  1  80   90  80   65   60
55  유진  여자   3  2  60   65  60   95   75
56  민지  여자   3  2  70   60  65   50   75
57  수빈  여자   3  2  70   65  85  100   60
58  지원  여자   3  2  85   70  95   65   60
59  지현  여자   3  2  70   40  80   65   55
65  서연  여자   3  1  50   75  75   60   70
66  지민  여자   3  1  50  100  50   65   55
67  민서  여자   3  1  75   65  95   85   70
68  서현  여자   3  1  50   80  80   75   70
69  서윤  여자   3  1  50   70  45   75   65
75  하윤  여자   3  2  60   55  60   70   40
76  서윤  여자   3  2  70   65  65   75   90
77  서연  여자   3  2  65   65  95   45   70
78  하은  여자   3  2  60   80  75   85   70
79  지유  여자   3  2  70   50  60   65   75
--------------------------------------------------------------------------------

    이름  성별  학년  반  국어  수학  영어   사회  과학
45  지혜  여자   3  1  85  40  75   40  75
46  지은  여자   3  1  85  70  80   80  60
47  수진  여자   3  1  85  40  65   50  60
49  은지  여자   3  1  80  90  80   65  60
56  민지  여자   3  2  70  60  65   50  75
57  수빈  여자   3  2  70  65  85  100  60
58  지원  여자   3  2  85  70  95   65  60
59  지현  여자   3  2  70  40  80   65  55
67  민서  여자   3  1  75  65  95   85  70
76  서윤  여자   3  2  70  65  65   75  90
79  지유  여자   3  2  70  50  60   65  75